In [5]:
# String variables  
greeting = "Hello"  
name = input("Enter your name: ")  
full_greeting = greeting +" "+ name  
print(full_greeting)

Enter your name:  Markus

Hello Markus

In [7]:
# Integer variables  
a = 10  
b = 16 
sum_ab = a + b  
print("Sum of a and b: ", sum_ab)

Sum of a and b:  26

In [11]:
# Float variables  
x = 7.5
y = 2.0
product_xy = x * y
print("Product of x and y:", product_xy)

Product of x and y: 15.0

In [12]:
# Boolean variables
is_raining = False
if is_raining:
    print("Don't forget your umbrella!")
else:  
    print("Enjoy the sunshine!")

Enjoy the sunshine!

In [13]:
# List variable
fruits = ["apple", "banana", "Mango"]
print("Original List:", fruits)
fruits.append("orange")
print("Updated List:", fruits)

Original List: ['apple', 'banana', 'Mango']
Updated List: ['apple', 'banana', 'Mango', 'orange']

In [14]:
# Dictionary variable  
person = {"name": "Alice", "age": 30}  
print("Person Dictionary:", person)
person["age"] += 1  # Increment age
print("Updated Person Dictionary:", person)

Person Dictionary: {'name': 'Alice', 'age': 30}
Updated Person Dictionary: {'name': 'Alice', 'age': 31}

In [16]:
# Tuple variable
coordinates = (10, 20)
print("Coordinates:", coordinates)

Coordinates: (10, 20)

In [17]:
# Set variable  
unique_numbers = {1, 2, 3, 1, 2}
print("Unique Numbers Set:", unique_numbers)

Unique Numbers Set: {1, 2, 3}

In [18]:
# Type conversions
num_str = "123"
num_int = int(num_str)
print("Converted String to Integer:", num_int)

Converted String to Integer: 123

In [19]:
# Calculations using mixed types
result = 10 + 5.5  # Implicit type conversion
print("Mixed types result (int + float):", result)

Mixed types result (int + float): 15.5